<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>sendinel</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="sendinel" />
<meta name="description" content=" " />
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/sendinel.css" type="text/css" />
<script src="{{MEDIA_URL}}/js/jquery.js" type="text/javascript"></script>
<script src="{% url django.views.i18n.javascript_catalog %}" type="text/javascript" charset="utf-8"></script>

<script src="{{ MEDIA_URL }}/js/numpad.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}/js/numpad_utils.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}/js/numpad_date.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}/js/numpad_time.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}/js/numpad_select.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ MEDIA_URL }}/js/numpad_woc.js" type="text/javascript" charset="utf-8"></script>    
<script src="{{ MEDIA_URL }}/js/numpad_controlButtons.js" type="text/javascript" charset="utf-8"></script>        
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/numpad.css" type="text/css" />

{% load i18n %} 
{% block script %}{% endblock %}
</head>

<body>
<noscript>
    <h1>This page needs JavaScript to work.</h1>
</noscript>

<div id="container">
    <div id="content1">
        {% block content %}{% endblock %}
    </div>
    <div id="rightbar">
        <div>
            <a href="{% url web_index %}">
                <img src="{{ MEDIA_URL }}/img/sendinel-300px.png" alt="sendinel" />
            </a><br />
            <img src="{{ MEDIA_URL }}/img/hpi-logo-250px.png" alt="HPI" />
            <h3>Sendinel is free for you.</h3>
        </div>
        
        <div id="infotext">
          <img src="{{ MEDIA_URL }}/img/info_sign.png" />
          {% block infotext %}
            <p>
              Sendinel is a system to improve the communication between hospitals and patients.
              Sendinel is a system to improve the communication between hospitals and patients.
              Sendinel is a system to improve the communication between hospitals and patients.
            </p>
          {% endblock %}
          
          <p class="contact">Feel free to contact us at contact@sendinel.org</p>
        </div>
    </div>
</div>

</body>
</html>