{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h3>{% blocktrans with infoservice.name as infoservice %}Send a message to {{ infoservice }}{% endblocktrans %}</h3>
    <p>
        <form action="" method="post">
            <table>
                {{ form }}
            </table>
            <input type="submit" name="submit" value="Send" id="id_submit" />
        </form>
    </p>
    <p><a href="{% url staff_list_infoservices %}">{% trans "List Inforservices" %}</a> |
        <a href="{% url web_index %}">{% trans "Back to Main Menu" %}</a></p>
{% endblock %}
