{% extends "base.html" %}
{% load i18n %}

{% block script %}
    <script src="{{ MEDIA_URL }}/js/infomessage.js" type="text/javascript"></script>
    <script type="text/javascript">
    
    $(document).ready(function() {
    $("#id_text").attr("jVal", "{valid:function (val) { if (val.length < 10) return false; else return true; }, message:'This message seems to be too short.'}");
    $("#id_text").attr("jValKey", "{valid:/[ a-zA-Z0-9._%+-@:,#*]/, message:'&quot;%c&quot; Invalid Character - No Special Characters Allowed', cFunc:'$(\\'#formContainer\\').jVal()'}");
    });
    
    </script>
     <script src="{{ MEDIA_URL }}/js/jVal.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/jval/jVal.css">
{% endblock %}

{% block content %}
<div id="content-padding">
    <h3>{% blocktrans with infoservice.name as infoservice %}Send a message to {{ infoservice }}{% endblocktrans %}</h3>
    <p>
        <form action="" method="post">
            <table>
                {{ form }}
            </table>
            <input type="submit" name="submit" value="Send" id="id_submit" />
        </form>
        
        <div id="character-number">
            {% trans "Characters left: " %} <div id="chars-left">160</div>        
        </div>
    </p>
    <p><a href="{% url staff_list_infoservices %}">{% trans "List Infoservices" %}</a> |
        <a href="{% url web_index %}">{% trans "Back to Main Menu" %}</a></p>
</div>
{% endblock %}
