{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h3>{% trans "Create a new information group" %}</h3>
	<p>{% trans "Please enter the name of the information group you want to create" %}</p>	
    <p>
        <form method="post" action='#'>
            Inform patients about: <input type="text" name="name" />
            <input type="submit" name="submit" value='{% trans "Save" %}' id="id_submit" />
        </form>
    </p>
    <p><a href="{% url staff_list_infoservices %}">{% trans "Back to Information Groups" %}</a></p>
    
{% endblock %}