{% extends "base.html" %}
{% load i18n %}
{% block script %}
    <script type="text/javascript">
        var confirmFunction = function(url) {
            var confirmed = confirm("Do you really want to delete the patient?");
            if (confirmed){
                window.location = url;
            }
        };
    </script>
{% endblock %}
{% block content %}
<div id="content-padding">
<div id="contentformGroupheight">
    <h3>{% trans "Members of " %}{{infoservice}}</h3>
    
    <table cellspacing="0" cellpadding="3">
        <tr>   
            <td rowspan="5" align="middle" align="center" width="80">
                <div class="button button_left button_float groupbutton" onClick="javascript:location.href='{% url staff_list_infoservices %}'">
                    back
                </div>
            </td>
            <td width="200px">{% trans "Phone Number" %}</td>
            <td width="200px">{% trans "Way of Communication" %}</td>
            <td width="200px" />
        </tr>
    {% for subscription in subscriptions %}
        
        <tr>
            <td>{{ subscription.patient.phone_number }}</td>
            <td>{{ subscription.way_of_communication }}</td>
            <td><a onclick=" confirmFunction('{% url staff_infoservice_members_delete id=infoservice.id, patient_id=subscription.patient.id%}')">
                                {% trans "Remove Patient from Group" %}</a></td>
        </tr>
        
    {% endfor %}
    
    </table>
    <br />

</div>
</div>
{% endblock %}