{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div id="contentform">
        <h3>{% trans "Members of " %}{{infoservice}}</h3>
          <div id="confirmation" style="display:none; text-align:center">
            {% trans "Do you really want to remove this patient from the group?" %}
        </div>
        <table cellspacing="0" cellpadding="3">
            <tr>   
                <td rowspan="5" align="middle" align="center" width="80">
                    <div    class="button button-left background-grey link menu-hover float-left rounded-corners" 
                            onClick="javascript:location.href='{% url groups_index group_type=infoservice.type %}'">
                        {% trans "Back" %}
                    </div>
                </td>
                <th width="200px">{% trans "Phone Number" %}</td>
                <th width="200px">{% trans "Way of Communication" %}</td>
                <td width="200px" />
            </tr>
        {% for subscription in subscriptions %}
            <form method="post" id="form_{{ subscription.id }}" action="{% url staff_infoservice_members_delete id=infoservice.id %}">
                <input type="hidden" name="subscription_id" value="{{ subscription.id }}" />
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{ subscription.patient.phone_number }}</td>
                    <td class="centered">{{ subscription.way_of_communication }}</td>
                    <td><input type="button" onclick="Sendinel.Utils.confirmForm($('#form_{{ subscription.id }}')[0], 'Please confirm')" value='{% trans "Remove Patient from Group" %}' /></td>
                </tr>
            </form>
        {% endfor %}
    
        </table>
        <br />

    </div>

{% endblock %}