{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="content-padding">
    <h3>{% trans "Information Groups" %}</h3>
    
    <div id="confirmation" style="display:none; text-align:center">
        {% trans "Do you really want to remove this information group?" %}
    </div>
    
    
    <table>
        <tr>   
            <th>{% trans "Group" %}</th>
            <th>{% trans "Members" %}</th>
            <td />
            <td />
        </tr>
    {% for infoservice in infoservices %}
        <form method="post" id="form_{{ infoservice.id }}" action="{% url staff_infoservice_delete %}">
            <input type="hidden" name="infoservice_id" value="{{ infoservice.id }}" />
            <tr>
                <td>{{ infoservice.name }}</td>
                <td>{{ infoservice.count_members }}</td>
                <td><input type="button" onclick="Sendinel.Utils.confirmForm($('#form_{{ infoservice.id }}')[0], 'Please confirm')" value='{% trans "Remove group" %}' />  </td>
                <td><a href="{% url staff_infoservice_members id=infoservice.id %}">{% trans "Group members" %}</a></td>
            </tr>
        
        </form>
        
    {% endfor %}
    
    </table>
    <a href="{% url staff_infoservice_create %}">+ {% trans "Create information group" %}</a>
    
    <p><a href="{% url web_index %}">{% trans "Back to Main Menu" %}</a></p>
 </div>   
{% endblock %}