{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div id="content-padding">
<div id="contentCenterList">
    <h3>{% trans "Information Groups" %}</h3>
   
    <div id="confirmation" style="display:none; text-align:center">
        {% trans "Do you really want to remove this information group?" %}
    </div>
    
    
    <table>
        <tr> 
            <td rowspan="5" align="middle" align="center" width="80">
                <div class="button button_left button_float groupbutton" onClick="javascript:location.href='{% url web_index %}'">
                    {% trans "Back" %}
                </div>
            </td>
            <th align="left">{% trans "Group" %}</th>
            <th>{% trans "Members" %}</th>
            <td />
            <td />
        </tr>
    {% for infoservice in infoservices %}
        <form method="post" id="form_{{ infoservice.id }}" action="{% url staff_infoservice_delete %}">
            <input type="hidden" name="infoservice_id" value="{{ infoservice.id }}" />
            <tr>
                <td>{{ infoservice.name }}</td>
                <td>{{ infoservice.count_members }}</td>
                <td><input type="button" onclick="Sendinel.Utils.confirmForm($('#form_{{ infoservice.id }}')[0], 'Please confirm')" value='{% trans "Remove group" %}' />  </td>
                <td><a href="{% url staff_infoservice_members id=infoservice.id %}">{% trans "Group members" %}</a></td>
            </tr>
        
        </form>
        
    {% endfor %}
    
    </table>
    <br />
    <a href="{% url staff_infoservice_create %}"><img src="{{ MEDIA_URL }}/img/add.png" border="0" height="18"/> {% trans "Create information group" %}</a>
    

 </div>
 </div>
{% endblock %}