{% extends "base.html" %}
{% load i18n %}
{% block content %}

    <div id="contentform">
        <h3>{% blocktrans with group_textblocks.name as group_type_name %}
                Create a new {{ group_type_name }}
            {% endblocktrans %}
            </h3>
        <p>{% blocktrans  with group_textblocks.name as group_type_name %}
                Please enter the name of the {{ group_type_name }} you want to create
            {% endblocktrans %}
        </p>

        <form name="infoservice" method="post" action='#' autocomplete="off">
            <br />
            <div    class="button button-left link menu-hover background-grey float-left rounded-corners" 
                    onClick="javascript:location.href='{% url groups_index group_type=group_type %}'">
                    {% trans "Back" %}
            </div>
            <div class="field float-left lastfield">
                <div class="head">
                    {{ group_textblocks.form_field_description }}
                    {% if form.name.errors %}
                        {{ form.name.errors }}
                    {% endif %}
                </div>
                <div class="input">
                    <input type="text" name="name" size="35" />
                </div>
            </div>            
   
            <div    class="button button-right float-left background-grey link menu-hover rounded-corners" 
                    onClick="infoservice.submit();">{% trans "Next" %}</div>                

        </form>
    </div>

{% endblock %}

{% block infotext %}
    {% trans "After you have created a new information group, it will also appear in the main menu." %}
{% endblock %}