{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div id="contentform">
        <h3>{{ group_textblocks.title }}</h3>
   
        <div id="confirmation" style="display:none" class="centered">
            {% trans "Do you really want to remove this " %} {{ group_textblocks.name }} ? 
        </div>
       
        <div class="button button-left background-grey link menu-hover rounded-corners float-left" 
             onclick="Sendinel.Utils.goto_url('{{ backurl }}')">
            {% trans "Back" %}
        </div>
       
        <table id="infoservice-list" class="float-left" cellspacing="0">
            <thead>
                <tr>        
                    <th align="left">{{ group_textblocks.table_head }}</th>
                    <th>{% trans "Members" %}</th>
                    <th colspan"3" />
                </tr>
            </thead>
            <tbody>
            {% for infoservice in groups %}
                <form method="post" id="form_{{ infoservice.id }}" action="{% url staff_infoservice_delete %}">
                    <input type="hidden" name="infoservice_id" value="{{ infoservice.id }}" />
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{ infoservice.name }}</td>
                        <td class="centered">{{ infoservice.member_count }}</td>
                        <td>
                            <input type="button" 
                                   onclick="Sendinel.Utils.confirmForm($('#form_{{ infoservice.id }}')[0], 'Please confirm')" 
                                   value='{{ group_textblocks.remove_button }}' />
                        </td>
                        <td>
                            <input  type="button" 
                                    onclick="Sendinel.Utils.goto_url('{% url staff_infoservice_members id=infoservice.id %}')"
                                    value='{{ group_textblocks.members_button }}' 
                                    {% if infoservice.member_count == 0 %}
                                        disabled="disabled"
                                    {% endif %} />
                        </td>
                        <td>
                            <input  type="button" 
                                    onclick="Sendinel.Utils.goto_url('{% url staff_create_infomessage id=infoservice.id %}')"
                                    value='{% trans "Send message" %}'
                                    {% if infoservice.member_count == 0 %}
                                        disabled="disabled"
                                    {% endif %} />
                        </td>
                    </tr>
        
                </form>
        
            {% endfor %}
            </tbody>
        </table>

        <br />
        
        <div id="infoservice-create">
            <img src="{{ MEDIA_URL }}/img/add.png" style="margin-bottom:-8px" />
            <input  type="button" 
                onclick="Sendinel.Utils.goto_url('{% url groups_create group_type=group_type %}')"
                value='{% trans "Create" %} {{ group_textblocks.name }}' />
        </div>

        <br />    

     </div>

{% endblock %}