{% extends "index.html" %}

{% block content %}
    <h3>Authenticate Phonenumber</h3>
	<p>Please enter your name and your phone number.</p>
    <p>
        <form method="post">
            <table>
				<tr><td>name</td><td><input type="text" name="name" /></td></tr>
				<tr><td>phone number</td><td><input type="text" name="number" /></td></tr>
				
            <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="Save" id="id_submit" /></td>
	</table>
        </form>
    </p>
{% endblock %}