{% extends "index.html" %}

{% block script %}
    <script src="{{MEDIA_URL}}/js/auth.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h3>Authenticate Phonenumber</h3>
    <p>To register your phone number {{number}}</p>
    {% comment %}
        TODO Write number to local phone settings
    {% endcomment %}
	<p>please call the following phone number: {{auth_number}}.</p>
    <input type="hidden" id="number" value="{{number}}" />
    <img src="{{ MEDIA_URL }}/ajax-loader.gif" alt="Spinner" id="auth_spinner"/>
	<div id="auth_status"></div>
{% endblock %}