{% extends "index.html" %}

{% block content %}
    <h3>Authenticate Phonenumber</h3>
	<p>Please enter your name and your phone number.</p>
    <p>
        <form method="post">
            <table>
				      <tr>
				          <td>phone number</td>
				          <td><input type="text" name="number" /></td>
				      </tr>
				      <tr>
				          <td>&nbsp;</td>
				          <td><input type="submit" name="submit" 
				                     value="Save" id="id_submit" /></td>
				      </tr>
	          </table>
        </form>
    </p>
{% endblock %}