<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>

<!-- change this to the title you want to appear in browser title bar -->

<title>sendinel</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="sendinel" />
<meta name="description" content=" " />
<link rel="stylesheet" href="../mediaweb/style.css" type="text/css" />
</head>

<body>



<!-- the title that appear in the page header -->

<div id="wrap">

<div id="sidebar">


<br />

<div id="navcontainer">
<ul id="navlist">
    <!--
<li><a href="#">Home</a></li>
<li><a href="#">About Us</a></li>
-->
</ul>

</div>

<!--end sidebar-->
</div>

<div id="container">

<div id="title">
    <img src="../mediaweb/logoSend.gif" alt="sendinel" />
</div>

<div id="content1">

<!-- here is your page content -->
{% block content %}{% endblock %}

</div>



<div id="footer">  <br />
<!-- it'd be super if you left this link intact -->    
    
<a href="http://www.dream-logic.com">Web Design by dreamLogic</a> | 
<a href="#">Privacy Policy</a> | 
<a href="#">Terms and Conditions</a>
</div>

<!-- end container -->
</div>


<!-- end wrap-->
</div>

</body>
</html>