{% extends "base.html" %}
{% load i18n %} 
{% block script %}
    <script type="text/javascript">
    
    $(document).ready(function() {
        $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: function(dateText) {
                $("#date").val(dateText);
            }
        });
    });

    </script>
{% endblock %}

{% block content %}
    <h3>{% trans "Appointment" %}</h3>
	<p>{% trans "Please enter the appointment details." %}</p>
    <p>
        <form action="./" method="post" class="selectable_container">
            <table>
                <tr>
                    <th>
                        <label for="id_phone_number">Phone number:</label>
                    </th>
                    <td>
                        <input id="id_phone_input" type="text" name="recipient" class="selectable" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="id_date_0">Date:</label>
                    </th>
                    <td>
                        <div id="datepicker"></div>
                        <input id="date" type="hidden" name="date" />
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="id_way_of_communication">Way of communication:</label>
                    </th>
                    <td> 
                        <select name="way_of_communication" id="id_way_of_communication">
                            <option value="" selected="selected">---------</option>
                            <option value="sms">SMS</option>
                            <option value="bluetooth">Bluetooth</option>
                            <option value="voice">Voice Call</option>
                        </select>
                    </td>
                </tr>
            </table>

            {% include "web/control_buttons_widget.html" %}
        </form>
        
        <input id="media_url" type="hidden" value="{{MEDIA_URL}}" />
        
    </p>
{% endblock %}
