{% extends "base.html" %}
{% load i18n %} 
{% block script %}
    <script type="text/javascript">
    $(document).ready(function() {
        $("label[for=id_doctor]").text("Reason:");
        $("#id_date_1").parent().contents()[3].nodeValue = "";
        $(".selectable.dates:eq(1)").hide().children()
            .first().val("12")
            .next().val("00");
    });    
    </script>
{% endblock %}

{% block content %}
    <h3>{% trans "Appointment" %}</h3>
	<p>{% trans "Please enter the appointment details." %}</p>
    <p>
        <form action="./" method="post" class="selectable_container">
            <table>
                {{ form.as_table }}
            </table>
            {% include "web/control_buttons_widget.html" %}
        </form>
        
        <input id="media_url" type="hidden" value="{{MEDIA_URL}}" />
        
    </p>
{% endblock %}
