{% extends "base.html" %}
{% load i18n %} 
{% block script %}
    <script type="text/javascript">
        var toNext = function() {
            var next = $("#next-button-link").val();
            window.location.replace(next);
        };
    
        $(document).ready(function() {
            window.setTimeout("toNext()",5000);
        });
    </script>
{% endblock %}
{% block content %}
    <h3>{% trans "Thank you for creating the appointment!" %}</h3>
    <p>{% trans "You will be reminded one day before the appointment via mobile phone." %}</p>
  <div class="selectable_container">
    {% include "web/control_buttons_next_only_widget.html" %}	      
  </div>
{% endblock %}
