{% extends "base.html" %}
{% load i18n %} 
{% block script %}
    <script type="text/javascript">
        var toNext = function() {
            var next = $("#next-button-link").val();
            window.location.replace(next);
        };
    
        $(document).ready(function() {
            window.setTimeout("toNext()", 120000);
        });
    </script>
{% endblock %}
{% block content %}
    <h3>
        {% trans "The " %} 
        {{ appointment.appointment_type.verbose_name }} 
        {% trans " notification has been created." %}
    </h3>
    
    {% if appointment.appointment_type.notify_immediately %}
        <p class="success">{% trans "The patient will be informed immediately." %}</p>
    {% else %}
        <p class="success">{% trans "Please tell the patient that he/she will be reminded one day before the appointment." %}</p>
    {% endif %}
    
    <form action="{{ nexturl }}" method="post">
        {% include "web/control_buttons_widget.html" %}	      
    </form>

{% endblock %}
