{% extends "base.html" %}

{% block script %}
    <script src="{{MEDIA_URL}}/js/auth.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h3>Authenticate Phonenumber</h3>
    <p>To register your phone number {{number}}</p>
    {% comment %}
        TODO Write number to local phone settings
    {% endcomment %}
	<p>please call the following phone number: {{auth_number}}.</p>
	<p>Your mobile's function send own number must be activated. This is the default on most phones. If the authentication does not work, your can try to enable it by calling the number *31#</p>
    <input type="hidden" id="number" value="{{number}}" />
    <input type="hidden" id="next" value="{{ next }}">
    <input type="hidden" id="url" value="{{ url }}">
    <div id="auth">
        <img src="{{ MEDIA_URL }}/ajax-loader.gif" alt="Spinner" id="auth_spinner"/>
        <div id="auth_status"></div>
    </div>
{% endblock %}