{% extends "base.html" %}
{% load i18n %} 
{% block script %}
    <script src="{{MEDIA_URL}}/js/auth.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div id="message" class="message"></div>

    <h3>{% trans "Authenticate Phonenumber" %}</h3>

    <p>{% trans "Please ring " %}<strong class="big">{{auth_number}}</strong></p>
    <p>{% trans 'This will be <strong class="big">free.</strong>' %}</p>
    {#  <p>{{number}}</p> #}
    
    {# <p>{% trans "Your mobile's function send own number must be activated. This is the default on most phones. If the authentication does not work, your can try to enable it by calling the number *31#" %}</p> #}
    <input type="hidden" id="number" value="{{number}}" />
    <input type="hidden" id="next" value="{{ next }}">
    <input type="hidden" id="ajax_url" value="{{ ajax_url }}">
    <div id="auth" class="centered">
        <img src="{{ MEDIA_URL }}/ajax-loader.gif" alt="Spinner" id="auth_spinner"/>
        <div id="auth_status"></div>
    </div>
    <div class="selectable_container">
      {% include "web/control_buttons_back_only_widget.html" %}	      
    </div>
    
{% endblock %}