{% extends "base.html" %}
{% load i18n %} 
{% block content %}
    <h3>{% trans "Authenticate Phonenumber" %}</h3>
    <h4>{% trans 'The authentication is <strong class="big">FREE</strong>.' %}</h4>
	<p>{% trans "Please enter your phone number:" %}</p>
    <p>
        <form method="post" class="selectable_container" autocomplete="off">
            <table>
                {% if error %}
                <tr><td></td><td class="errorlist">{{ error }}</td></tr>
                {% endif %}
                <tr>
                  <td>{% trans "Phone number" %}</td>
                  <td><input type="text" name="number" class="selectable" /></td>
                </tr>
	         </table>
            {% include "web/control_buttons_widget.html" %}	         
        </form>
    </p>
{% endblock %}