{% load i18n %}
<div name="control-buttons-widget" id="control_buttons" class="control-buttons">
<table width="100%">
<tr>
<td align="left">

    <div class="button_only button_only_left " onClick="javascript:location.href='{{ backurl }}'">
    {% trans "New" %}
    </div>

</td>
<td align="right">
    <input type="hidden" id="next-button-link" value="{% url web_index %}">
    <div class="button_only button_only_right " id="next-button-link" onClick="javascript:location.href='{% url web_index %}'">
    {% trans "Main Menu" %}
    </div>


</td></tr>
</table>
</div>