{% load i18n %}
<div name="control-buttons-widget" id="control_buttons" class="control-buttons selectable">
  <div class="back-button">
    <input type="button" class="subselectable" name="form_submit" value="&lt;- {% trans 'Back' %}" id="id_back" />
    <input type="hidden" class="" name="back-button-link" value="{{ backurl }}" />
  </div>
  <div class="next-button">
    <input type="submit" class="subselectable" name="form_submit" value="{% trans 'Next' %} -&gt;" id="id_next" />
    <input type="hidden" class="" name="next-button-link" value="{{ nexturl }}" />
  </div>
</div>