{% extends "base.html" %}
{% load i18n %} 
{% block script %}
{% endblock %}
{% block content %}
    <h3>{% trans "Choose what you want to do:" %}</h3>
    <div class="navlist">
        <img src="{{MEDIA_URL}}/img/arrow_right_orange.png" />
        <p class="next-to-big-arrow"> 
            <a href="{% url web_appointment_create %}" class="selectable">{% trans "Remind me of my next appointment" %}</a>
        </p>
    </div>
    <br />
    <div class="navlist">
        <img src="{{MEDIA_URL}}/img/arrow_right_orange.png" />  
        <p class="next-to-big-arrow">         
            <a href="{% url sendinel.knowledgebase.views.index %}" class="selectable">{% trans "Let me look at Information Material" %}</a>
        </p>
    </div>
    <br />
        <h4>{% trans "Inform me regularly on my mobile phone about" %}</h4>
        <ul id="informationservices">
            {% for service in informationservices %}
                <li> 
                  <div class="navlist">
                    <img src="{{MEDIA_URL}}/img/arrow_right_small_orange.png" />
                      <p class="next-to-small-arrow">
                        <a href="{% url web_infoservice_register id=service.id %}" class="selectable">{{service}}</a>
                      </p>
                  </div>  
                </li>
            {% endfor %}
        </ul>


    <p>
        <a href="{% url sendinel.staff.views.index %}">{% trans "Staff" %}</a>
    </p>
{% endblock %}

{% block infotext %}
  <p>With Sendinel you can send totally awesome stuff!. I am extremely amazed
  </p>
{% endblock %}