{% extends "base.html" %}
{% load i18n %} 
{% block script %}
{% endblock %}
{% block content %}
    <h3>{% trans "Choose what you want to do:" %}</h3>
    <div class="menulist">
        <div>
            <a href="{% url web_appointment_create %}" class="selectable">{% trans "Remind of Vaccination" %}</a>
        </div>
        <div>
            <a href="{% url web_appointment_create %}" class="selectable">{% trans "Remind of Follow-Up Consultation" %}</a>
        </div>

        <div>
            <a href="{% url not_implemented %}" class="selectable">{% trans "Inform about Arrival of Medication" %}</a>
        </div>

        <div>
            <a href="{% url list_infoservices %}" class="selectable">{% trans "Register patient to get regular information" %}</a>
        </div>
        {#      #}
        {# {% for service in information_services %} #}
        {#     <li><a href="{% url web_infoservice_register id=service.id %}" class="selectable">{{service}}</a></li> #}
        {# {% endfor %} #}
        {#      #}
        <div>
            <a href="{% url staff_list_infoservices %}" class="selectable">{% trans "Register patient for morning prayer" %}</a>
        </div>

        <div>
            <a href="{% url staff_list_infoservices %}" class="selectable">{% trans "Register patient for HIV news" %}</a>
        </div>
    
        <div>
            <a href="{% url staff_list_infoservices %}" class="selectable">{% trans "Register patient for hospital news" %}</a>
        </div>
    </div>

{% endblock %}

{% block infotext %}
  <p>This is the main menu. 
     Press the arrow keys  ←↑→↓ in front of you to choose menu items.
     Use the 'Enter' key to select.
  </p>
{% endblock %}
