{% extends "base.html" %}
{% load i18n %} 

{% block body_attributes %} class="content-spacer" {% endblock %}

{% block content %}


    <div class="float-left" id="left-side">
      <h3>{% trans "Waiting Lists for Medicine" %}</h3>
        <div class="menu-item background-grey rounded-corners">
            <div class="menu-item-name groups-name float-left"><strong>Currently Missing Medicine</strong></div>
            <div>
                <a href="{% url groups_medicine_register_patient %}">
                    <div class="menu-hover groups-link groups-link-register float-left rounded-corners">
                        {% trans "Register Patient" %}
                    </div>
                </a>
                <a href="{% url staff_create_infomessage id=1 %}" class="menu_secondlink">
                    <div class="menu-hover groups-link groups-link-send float-left rounded-corners">
                        {% trans "Send Message" %}
                    </div>
                </a>
                </div>
            <div style="clear:both"></div>    
        </div>
        <a href="{% url groups_index group_type='medicine' %}">
            <div class="menu-item menu-hover menu-item-name groups-manage background-grey rounded-corners">
               {% trans "Manage Waiting Lists for Medicine" %}
            </div>
        </a>

      <h3>{% trans "Notifications" %}</h3>
        {% for appointment_type in appointment_types %}
        <div class="menu-item menu-hover background-grey rounded-corners">
             <a href="{% url web_appointment_create appointment_type_name=appointment_type.name %}">
                <div class="menu-item-name">
                   {{ appointment_type.verbose_name }}
                </div>
            </a>
        </div>
        {% endfor %}     
    </div>

    <div id="groups" class="float-left">
    <h3>{% trans "Groups " %}</h3>
        {% for service in groups %}
            <div class="menu-item background-grey rounded-corners">
                <div class="menu-item-name groups-name float-left"><strong>{{ service }}</strong></div>
                <div>
                    <a href="{% url web_infoservice_register id=service.id %}">
                        <div class="menu-hover groups-link groups-link-register float-left rounded-corners">
                            {% trans "Register Patient" %}
                        </div>
                    </a>
                    {% if service.members.count > 0 %}
                        <a href="{% url staff_create_infomessage id=service.id %}" class="menu_secondlink">
                            <div class="menu-hover groups-link groups-link-send float-left rounded-corners">
                                {% trans "Send Message" %}
                            </div>
                        </a>
                    {% else %}
                        <div class="groups-link groups-link-send float-left disabled">
                            {% trans "Send Message" %}
                        </div>
                    {% endif %}
                    </div>
                <div style="clear:both"></div>    
            </div>
        {% endfor %}
         <a href="{% url groups_index group_type='information' %}">
            <div class="menu-item menu-hover menu-item-name groups-manage background-grey rounded-corners">
               {% trans "Manage Information Groups" %}
            </div>
        </a>
    </div>

{% endblock %}
{% block infotext %}
    {% 'This is the main menu. If you want to tell one patient that he/she 
    should come to the clinic, choose a topic under "Notifications". 
    If you want to inform a group of people you should use groups.' %}
{% endblock %}
