{% extends "base.html" %}
{% load i18n %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#id_phone_input").keydown(function(event){
                if(event.keyCode === 37){
                    var phone_input = $("#id_phone_input");
                    var string = phone_input.val();
                    string = string.substr(0, (string.length - 1));
                    phone_input.val(string);                    
                    return false;
                }
            });
        });
    </script>
{% endblock %}
 
{% block content %}
    <h3>{% trans "Register for the informationservice" %} {{infoservice}}</h3>
	<p>{% trans "Please enter your phone number and the way you want to receive the messages" %}</p>
    <p>
        <form method="post" class="selectable_container" action='#' 
         autocomplete="off">
            <table>
                {% if error %}
                <tr><td></td><td>{{ error }}</td></tr>
                {% endif %}              
                <tr>
                  <td>{% trans "Phone Number" %}</td>
                  <td><input id="id_phone_input" type="text" name="number" class="selectable" /></td>
                </tr>
                <tr>
                  <td>{% trans "Way of Communication" %}</td>
                  <td>
                    <select name="way_of_communication" >
                     <option value='sms'>{% trans "SMS" %}</option>
                     <option value='voice'>{% trans "Voice Call" %}</option>
                    </select> 
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td>{% include "web/control_buttons_widget.html" %}</td>
                </tr>
	         </table>
        </form>
    </p>
{% endblock %}