{% extends "base.html" %}
{% load i18n %} 
{% block script %}
    <script src="{{MEDIA_URL}}/js/bluetooth.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(Bluetooth.check_for_devices);
    </script>
{% endblock %}

{% block content %}

    <h3>Available Bluetooth Devices</h3>

    <div>
        {% trans "Please turn on your Bluetooth now. Please assure that it is in the Bluetooth visibility mode." %}
    </div>
    <br />
    <p>
        <div class="selectable_container">
            <ul id="bluetooth_devices"></ul>
            <div id="spinner" class="centered">
                <img src="{{ MEDIA_URL }}/img/progress_bar.gif" /><br />
                {% trans "Looking for further devices" %}
            </div>
            <span id="csrf">{% csrf_token %}</span>
            <input type="hidden" id="next" value="{{ next }}">
            {% include "web/control_buttons_back_only_widget.html" %}
        </div>
    </p>

{% endblock %}

{% block infotext %}
  
    {% trans "Most Mobile Phones have a Bluetooth sub-menu in the settings or connections menu. 
     There you can adjust your settings as needed." %}
{% endblock %}