{% extends "base.html" %}

{% block script %}
    <script src="{{MEDIA_URL}}/js/bluetooth.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h3>Available Bluetooth Devices</h3>
    <p>
        <table id="bluetooth_devices"></table>
        <div id="loading">
            <img src="{{ MEDIA_URL }}/img/progress_bar.gif" /><br />
            Looking for further devices
        </div>
        <span id="csrf">{% csrf_token %}</span>
        <input type="hidden" id="next" value="{{ next }}">
    </p>
{% endblock %}