{% extends "base.html" %}
{% load i18n %} 
{% block script %}
{% endblock %}
{% block content %}

    <h3>{% trans "Sorry, but this does not work yet" %}</h3>
    <p>{% trans "We are working on that and hope to get it running until June 2010." %}</p>
    <div class="selectable_container">
       {% include "web/control_buttons_back_only_widget.html" %}
    </div>

{% endblock %}

{% block infotext %}
  {% trans " Click on the sendinel logo or the back button to return to the main menu" %}
{% endblock %}
