{% extends "base.html" %}

{% block script %}
    <script src="{{MEDIA_URL}}/js/bluetooth.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(Bluetooth.send_file);
    </script>
{% endblock %}

{% block content %}
    <h3>Sending your appointment</h3>
    <p>Please accept the file on your mobile</p>
    
    <input type="hidden" id="next" value="{{ next }}">
    <input type="hidden" id="url" value="{{ url }}">
    <input type="hidden" id="device_mac" value="{{ mac_address }}">
    
    <div id="spinner" class="centered">
        <img src="{{ MEDIA_URL }}/ajax-loader.gif" alt="Spinner"/>
        <div id="status">Sending your appointment</div>
    </div>
{% endblock %}