{% extends "base.html" %}
{% load i18n %} 
{% block script %}
    <script type="text/javascript">
        var toNext = function() {
            var next = $("#next-button-link").val();
            window.location.replace(next);
        };
    
        $(document).ready(function() {
            window.setTimeout("toNext()", 120000);
        });
    </script>
{% endblock %}

{% block content %}
    <h3>
        {{ success_title }}
    </h3>
    
    <p class="success">
        {{ success_message }}
    </p>
    
    <form action="{{ nexturl }}" method="post">
        {% include "web/control_buttons_widget.html" %}	      
    </form>
{% endblock %}
