{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div id="contentform">
        <h3>{{ infoservice_textblocks.title }}</h3>
   
        <div id="confirmation" style="display:none" class="centered">
            {% trans "Do you really want to remove this " %} {{ infoservice_textblocks.name }} ? 
        </div>
       
        <div class="button button-left background-grey link menu-hover rounded-corners float-left" 
             onclick="Sendinel.Utils.goto_url('{{ backurl }}')">
            {% trans "Back" %}
        </div>
       
       <div class="list-box">
       {% if infoservices %}
        <table id="infoservice-list" class="float-left" cellspacing="0">
            <thead>
                <tr>        
                    <th align="left">{{ infoservice_textblocks.table_head }}</th>
                    <th>{% trans "Members" %}</th>
                    <th colspan"3" />
                </tr>
            </thead>
            <tbody>
            {% for infoservice in infoservices %}
                <form method="post" id="form_{{ infoservice.id }}" action="{% url infoservices_delete %}">
                    <input type="hidden" name="group_id" value="{{ infoservice.id }}" />
                    <tr class="{% cycle 'odd' 'even' %}">
                        <td>{{ infoservice.name }}</td>
                        <td class="centered">{{ infoservice.member_count }}</td>
                        <td>
                            <input type="button" 
                                   onclick="Sendinel.Utils.confirmForm($('#form_{{ infoservice.id }}')[0], 'Please confirm')" 
                                   value='{{ infoservice_textblocks.remove_button }}' />
                        </td>
                        <td>
                            <input  type="button" 
                                    onclick="Sendinel.Utils.goto_url('{% url infoservices_members id=infoservice.id %}')"
                                    value='{{ infoservice_textblocks.members_button }}' 
                                    {% if infoservice.member_count == 0 %}
                                        disabled="disabled"
                                    {% endif %} />
                        </td>
                        {% comment %}
                        <td>
                            <input  type="button" 
                                    onclick="Sendinel.Utils.goto_url('{% url groups_send_message group_id=infoservice.id %}')"
                                    value='{% trans "Send message" %}'
                                    {% if infoservice.member_count == 0 %}
                                        disabled="disabled"
                                    {% endif %} />
                        </td>
                    </tr>
                        {% endcomment %}
                </form>
            {% endfor %}                
            </tbody>
        </table>
        {% else %}
        <table id="infoservice-list-empty" class="float-left" cellspacing="0">
            <thead>
                <tr>        
                    <th></th>
                </tr>
            </thead>        
            <tbody>
                <tr><td>
                    <p>{% trans "There is no" %} {{ infoservice_textblocks.name }} {% trans "here at the moment." %}</p>
                    <p>{% trans "Click on the button below to add one." %}</p>
                </td></tr>
            </tbody>
        </table>
        {% endif %}
        <br />
          <div id="infoservice-create">
              <img src="{{ MEDIA_URL }}/img/add.png" style="margin-bottom:-8px" />
              <input  type="button" 
                  onclick="Sendinel.Utils.goto_url('{% url infoservices_create infoservice_type=infoservice_type %}')"
                  value='{% trans "Create" %} {{ infoservice_textblocks.name }}' />
          </div>
        </div>        

        <br />    

     </div>

{% endblock %}