.selectable {
    background-color: yellow;
}

.selected {
    background-color: red;
}

.numpad_subselected {
    background-color: orange;
}

.twocharinput {
    width: 2em;
}
.fourcharinput {
    width: 4em;
}

.select-div {
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 500px; 
    white-space: nowrap;
}

