.selectable {
}

.subselectable {
}

.selected {
    background-color: #fcc533;
}
a.selected {
    color: black;
}

.numpad_subselected {
    background-color: #f29400;
}

a.numpad_subselected {
    color: black;
}

a.subselectable {
    padding:3px ;
}

.twocharinput {
    width: 2em;
}
.fourcharinput {
    width: 4em;
}

.back-button {
    float:left;
}

.next-button {
    float:right;
}

.control-buttons {
    height: 1.5em;
}

.select-div {
    overflow-x: auto; 
    overflow-y: hidden; 
    width: 500px; 
    white-space: nowrap;
}

.dates {
    margin: 5px 0px;
}
