.selectable {
    background-color: yellow;
}

.selected {
    background-color: red;
}

.datetime_selected {
    background-color: orange;
}

.twocharinput {
    width: 2em;
}
.fourcharinput {
    width: 4em;
}