* {
    margin: 0;
    padding: 0;
}

html {
height:100%;
}

body {

   height:100%;
    font: 14pt/20pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
    color:#666666;
}

a {
    text-decoration: none;
    color: #000000;
}

#page {
    margin: 0 auto;
    position: absolute;
    height:100%;
    width: 100%;
}


#header{
    width:100%;
    background-color: #eeeeee;
    height:120px;
}

#sendinelDIV{

    text-align: left;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    
}

#hpiDIV{
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
}

#footer{
    background-color: #eeeeee;
    position: absolute;
    bottom:0px;
    height:120px;
    width:100%;

}
#content{
    overflow:auto;
    background:#ffffff;
}

#content-padding {
    padding: 20px;
}

#notifications{
    float:left;
    padding:20px;

    background:#ffffff;
    border-right: 10px solid #eeeeee;    
    display:block;
}

#groups{
    float:left;

    background:#ffffff;
    padding:20px;
    display:block;
}

#infotext{
    position:absolute;
    left:40px;
    float:left;
    min-width:300px;
    max-width:500px;
    max-height: 100px;
    padding: 10px;
    padding-left: 80px;
    background-position:20px 20px;
    background-image: url(../img/info_sign.png);
    background-repeat: no-repeat;
}
#contact{
    position:absolute;
    right:40px;
    float:left;
    text-align:right;
    padding:10px;
}


.menulistNotificationItem
{
    min-height: 2em;
    padding-top: 0.8em;
    padding-bottom: 12px;

    font: bold Verdana, sans-serif;
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
    background-image: url(../img/arrow_right_orange.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
    margin: 10px 0px;
    padding-left:80px;
}
.notificationName{
    min-height: 2em;
    padding-top: 0.8em;
    padding-bottom: 12px;
    width:100%;
    font-size: 1.2em;    

}

.menulistNotificationItem:hover {
    border: 1px solid orange;
    background-color: #FFDCA3;
}

.menulistGroupsItem
{
    font-size: 1em;
    font: bold Verdana, sans-serif;
    background: #F3F3F3;
    padding-left: 10px;
    margin: 10px 0px;
}

.groupName{
    min-height: 2em;
    padding-top: 0.8em;
    padding-bottom: 12px;
    
    
    width:180px;
    float:left;
}
.links{
float:right;
}
.groupRegister{
    min-height: 2em;
    padding-top: 0.8em;
    padding-bottom: 12px;
     border: 1px solid #F3F3F3;
    float:left;
    width:155px;
    padding-left:30px;
    background-position:0px 15px;
    background-image: url(../img/add.png);
    background-repeat: no-repeat;
}
.groupRegister:hover {
    border: 1px solid orange;
    background-color: #FFDCA3;
}
.groupSend{
    min-height: 2em;
    padding-top: 0.8em;
    padding-bottom: 12px;
    border: 1px solid #F3F3F3;
    
    float:left;
    width:135px;
    clear:right;
    padding-left:45px;
    background-position:0px 13px;
    background-image: url(../img/send.png);
    background-repeat: no-repeat;

}
.groupSend:hover {
    border: 1px solid orange;
    background-color: #FFDCA3;
}

.menulistManageGroups{
    padding-left: 60px;
    min-height: 2em;
    padding-top: 0.8em;
    padding-bottom: 12px;
    margin: 10px 0px 0px 0px;
    font-size: 1em;
    font: bold Verdana, sans-serif;
    border: 1px solid #F3F3F3;
    background: #F3F3F3;
    background-image: url(../img/gear_wheel.png);
    background-repeat: no-repeat;
    background-position: 17px 20px;
}
.menulistManageGroups:hover {
    border: 1px solid orange;
    background-color: #FFDCA3;
}

/* Forms */
th {
    vertical-align: top;
}

img {
    border-width: 0;
}

strong.big {
    font-size: 1.3em;
}

.errorlist {
    color: #af0037;
    border: 1px solid #af0037;
    margin: 5px 0;
    padding: 0;
    list-style-type: none;
    background-color: #FCC533;
    
}

.success {
    color: green;
}

/* Way of communication selector */
.clickable {
    cursor: pointer;
}
.selected {
    background-color: #FCC533;
}

h3{
    text-align:left;
    color:#fcc533;
    font-size:1.4em;
    font-weight:bold;
}