* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height:100%;
   
    font: 14pt/20pt 'Lucida Grande', Verdana, Helvetica, sans-serif;
    color:#666666;
}

a {
    text-decoration: none;
    color: #000000;
}

#page {
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    height: 100%;	
}


#header{
    width:100%;
    background-color: #eeeeee;
    height:120px;
}

#sendinelDIV{

    text-align: left;
    float: left;
    padding-left: 30px;
    padding-top: 20px;
    
}

#hpiDIV{
    text-align: right;
    padding-right: 30px;
    padding-top: 20px;
}

#footer{
    background-color: #eeeeee;
    position: absolute;
    bottom:0px;
    height:120px;
    width:100%;

}
#content{
    overflow:hidden;
    background:#ffffff;
}

#notifications{
    float:left;
    padding:20px;

    background:#ffffff;
    border-right: 10px solid #eeeeee;    
    display:block;
}

#groups{
    float:left;

    background:#ffffff;
    padding:20px;
    display:block;
}

#infotext{
    position:absolute;
    left:40px;
    float:left;
    min-width:300px;
    max-width:500px;
    max-height: 100px;
    padding: 10px;
    padding-left: 80px;
    background-position:20px 20px;
    background-image: url(../img/info_sign.png);
    background-repeat: no-repeat;
}
#contact{
    position:absolute;
    right:40px;
    float:left;
    text-align:right;
    padding:10px;
}


.menulist div
{
    min-height: 2em;
    padding-top: 0.8em;
    padding-bottom: 10px;
    margin: 10px 0px;
    font-size: 1.2em;
    font: bold Verdana, sans-serif;
    background: #F3F3F3;
    background-image: url(../img/arrow_right_orange.png);
    background-repeat: no-repeat;
    background-position: 10px 0px;
}
.menulist div a
{
    padding-left: 80px;
}

.menulist div a.menu_secondlink
{
    padding-left: 10px;
    margin-left: 10px;
}

.cells_align_top td
{
    vertical-align: top;
}

/* Forms */
th {
    vertical-align: top;
}

img {
    border-width: 0;
}

strong.big {
    font-size: 1.3em;
}

.errorlist {
    color: #af0037;
    border: 1px solid #af0037;
    margin: 5px 0;
    padding: 0;
    list-style-type: none;
    background-color: #FCC533;
    
}

.success {
    color: green;
}

/* Way of communication selector */
.clickable {
    cursor: pointer;
}
.selected {
    background-color: #FCC533;
}

h3{
    text-align:left;
    color:#fcc533;
    font-size:1.4em;
    font-weight:bold;
}