{% extends "base.html" %}

{% load i18n %}
{% block content %}
   {% block content_show %}
    -content-
   {% endblock %}
    <div class="selectable_container">
        <div name="control-buttons-widget" id="control_buttons" class="control-buttons selectable">
            {% if backurl %}
                <div class="back-button">
                  <input type="button" class="subselectable" name="form_submit" value="&lt;- {% trans 'Show previous' %}" id="id_back" />
                  <input type="hidden" class="" name="back-button-link" value="{{ backurl }}" />
                </div>
            {% endif %}
            {% if nexturl %}
                <div class="next-button">
                  <input type="submit" class="subselectable" name="form_submit" value="{% trans 'Show next' %} -&gt;" id="id_next" />
                  <input type="hidden" class="" name="next-button-link" value="{{ nexturl }}" />
                </div>
            {% endif %}
        </div>
        <p><a href="{% url sendinel.knowledgebase.views.index %}" class="selectable">
            {% trans "Back to overview" %}
        </a></p>
    </div>
   
{% endblock %}