{% extends "base.html" %}
{% load i18n %}
{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            numpad.selector.selectNext();
        })
    </script>
{% endblock %}

{% block content %}
    <h3>{% trans "Here you can find information" %}</h3>
    <div class="selectable_container">
        {% include 'web/control_buttons_back_only_widget.html' %}
        <p>
            <ul id="filelist">
                {% for number, file in files.items %}
                    <li><a href="{% url knowledgebase_show file_id=number %}" class="selectable">{{file}}</a></li>
                {% endfor %}
            </ul>
        </p>
        {% include 'web/control_buttons_back_only_widget.html' %}
    </div>
{% endblock %}
